Functions/B&W/1.png
Functions/B&W/2.jpg
Functions/brightness/1.jpg
Functions/brightness/2.jpg
Functions/brightness/3.jpg
Functions/images/img.png
Functions/images/marta.jpg
Functions/resized/resized.png
Functions/resized/resized2.png
Functions/saturation/1.jpg
Functions/saturation/2.jpg
Functions/saturation/3.jpg
