Functions/B&W/1.png
Functions/B&W/2.jpg
Functions/brightness/1.jpg
Functions/brightness/2.jpg
Functions/brightness/3.jpg
Functions/images/img.png
Functions/images/marta.jpg
Functions/resized/resized.png
Functions/resized/resized2.png
Functions/saturation/1.jpg
Functions/saturation/2.jpg
Functions/saturation/3.jpg
Web/Functions/B&W/1.png
Web/Functions/B&W/2.jpg
Web/Functions/brightness/1.jpg
Web/Functions/brightness/2.jpg
Web/Functions/brightness/3.jpg
Web/Functions/images/img.png
Web/Functions/images/marta.jpg
Web/Functions/resized/ciao.png
Web/Functions/resized/prova.png
Web/Functions/resized/resized.png
Web/Functions/resized/resized2.png
Web/Functions/resized/webRes.png
Web/Functions/saturation/1.jpg
Web/Functions/saturation/2.jpg
Web/Functions/saturation/3.jpg
Web/Functions/__pycache__/imageFunctions.cpython-38.pyc
Web/Functions/downloadedImages/prova.png
Web/Functions/images/prova.jpg
Web/Functions/uploadedImages/prova.png
Web/Functions/uploadedImages/Schermata 2020-05-07 alle 00.09.24.png
Web/Functions/uploadedImages/Schermata 2020-07-15 alle 12.59.50.png
Web/resources/imageDownload/santa.png
Web/resources/imageDownload/sasso.png
Web/resources/imageDownload/Schermata 2020-06-15 alle 18.24.37.png
Web/resources/imageDownload/Schermata 2020-07-15 alle 11.33.29.png
Web/resources/imageUpload/Schermata 2020-05-22 alle 00.04.16.png
Web/resources/imageUpload/Schermata 2020-06-15 alle 18.24.37.png
Web/resources/imageUpload/Schermata 2020-07-15 alle 11.33.29.png
Web/resources/imageUpload/Schermata 2020-07-15 alle 12.59.50.png
Web/resources/imageDownload/Schermata 2020-05-22 alle 00.04.16 (1).png
Web/resources/imageDownload/Schermata 2020-05-22 alle 00.04.16.png
Web/resources/imageDownload/alessio.mazzola.95@gmail.com/santa.png
Web/resources/imageDownload/alessio.mazzola.95@gmail.com/Schermata 2020-05-22 alle 00.04.16 (1).png
Web/resources/imageDownload/alessio.mazzola.95@gmail.com/Schermata 2020-06-15 alle 18.24.37.png
Web/resources/imageUpload/santa.png
Web/resources/imageUpload/Schermata 2020-05-22 alle 00.04.16 (1).png
